torch==2.8.0
huggingface-hub
packaging==24.0
colossalai>=0.4.0
autoflake==2.2.1
black==23.9.1
transformers>=4.57.6
tensorboard==2.14.0
six==1.16.0
datasets
ninja==1.11.1
flash-attn
tqdm
sentencepiece==0.2.1
protobuf<=6.33.5
